@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-main: 'Inter', sans-serif;

$background-light: #FAFAFA;
$primary-light: #161616;
$secondary-light: #B4B4B6;

$background-dark: #161616;
$primary-dark: #FAFAFA;
$secondary-dark: #505052;